[Unit]
Description=PiHole Influx - Send pihole stats to influxdb for Grafana
After=multi-user.target
Wants=network-online.target

[Service]
User=root
Type=idle
ExecStartPre=/bin/bash -c 'until ping -c 3 pihole; do sleep 1; done'
ExecStart=/home/phmon/pihole_influx/venv/bin/python /home/phmon/pihole_influx/pihole_influx.py > /tmp/pihole_influx.log 2>&1

[Install]
WantedBy=multi-user.target
